# Python caches
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Logs and temporary files
*.log
worker_fatal_error.log

# Mac OS junk files (if anyone on an Apple machine uses it)
.DS_Store
